<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ChoiceMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Choice">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="textcontent" jdbcType="VARCHAR" property="textcontent" />
        <result column="choice1" jdbcType="VARCHAR" property="choice1" />
        <result column="choice2" jdbcType="VARCHAR" property="choice2" />
        <result column="choice3" jdbcType="VARCHAR" property="choice3" />
        <result column="choice4" jdbcType="VARCHAR" property="choice4" />
        <result column="result" jdbcType="VARCHAR" property="result" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *  from choice
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select * from choice where id=#{id}
    </select>
    <select id="selectrand" resultMap="BaseResultMap">
        select * from choice order by rand() limit 10
    </select>
    <insert id="insert" >
        insert into choice(textcontent,choice1,choice2,choice3,choice4,result) values  (#{textcontent},#{choice1},#{choice2},#{choice3},#{choice4},#{result})
    </insert>
    <delete id="deleteById">
        delete from choice where id=#{id}
    </delete>
    <update id="updateById">
        update choice set textcontent=#{textcontent},choice1=#{choice1},choice2=#{choice2},choice3=#{choice3},choice4=#{choice4},result=#{result} where id=#{id}
    </update>
</mapper>
