<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.JudgeMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Judge">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="textcontent" jdbcType="VARCHAR" property="textcontent" />
        <result column="result" jdbcType="INTEGER" property="result" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *  from judge
    </select>
    <select id="selectrand" resultMap="BaseResultMap">
        select * from judge order by rand() limit 5
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select * from judge where id=#{id}
    </select>
    <insert id="insert" >
        insert into judge(textcontent,result) values  (#{textcontent},#{result})
    </insert>
    <delete id="deleteById">
        delete from judge where id=#{id}
    </delete>
    <update id="updateById">
        update judge set textcontent=#{textcontent},result=#{result} where id=#{id}
    </update>
</mapper>
