<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestRecordMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.TestRecord">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sid" jdbcType="VARCHAR" property="sid" />
        <result column="choice" jdbcType="INTEGER" property="choice" />
        <result column="completion" jdbcType="INTEGER" property="completion" />
        <result column="judge" jdbcType="INTEGER" property="judge" />
        <result column="shortanswer" jdbcType="INTEGER" property="shortanswer" />
        <result column="score" jdbcType="INTEGER" property="score" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *  from testrecord
    </select>

    <insert id="insert" >
        insert into testrecord(name,sid,choice,completion,judge,shortanswer,score) values  (#{name},#{sid},#{choice},#{completion},#{judge},#{shortanswer},#{score})
    </insert>
    <delete id="deleteById">
        delete from testrecord where id=#{id}
    </delete>
</mapper>
